.container {
  position: relative;
}
.tooltips {
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 10px;
  background: rgba(17, 16, 16, 0.8);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}
.flag {
  margin-top: 20px;
  width: 200px;
  height: 100px;
}
